In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('deliveries.csv')

In [32]:
df.head(4)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [11]:
runs=df.groupby('batsman')

In [16]:
runs.get_group('V Kohli').shape

(3494, 21)

In [19]:
runs['batsman_runs'].sum().sort_values(ascending=False).head(10)

batsman
SK Raina          4548
V Kohli           4423
RG Sharma         4207
G Gambhir         4132
DA Warner         4014
RV Uthappa        3778
CH Gayle          3651
S Dhawan          3561
MS Dhoni          3560
AB de Villiers    3486
Name: batsman_runs, dtype: int64

In [25]:
mask=df['batsman_runs']==6
new_df=df[mask]

In [26]:
new_df.shape[0]

6523

In [29]:
new_df.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False)

batsman
CH Gayle         266
SK Raina         174
RG Sharma        173
V Kohli          160
DA Warner        160
                ...
CK Langeveldt      1
CR Woakes          1
P Sahu             1
DE Bollinger       1
Basil Thampi       1
Name: batsman_runs, Length: 301, dtype: int64

In [30]:
vk=df[df['batsman']=='V Kohli']

In [46]:
vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head()

bowling_team
Chennai Super Kings    706
Delhi Daredevils       661
Kings XI Punjab        483
Mumbai Indians         447
Sunrisers Hyderabad    439
Name: batsman_runs, dtype: int64

In [48]:
vk.groupby('bowling_team')['batsman_runs'].max().sort_values(ascending=False).head()

bowling_team
Chennai Super Kings    6
Deccan Chargers        6
Delhi Daredevils       6
Gujarat Lions          6
Kings XI Punjab        6
Name: batsman_runs, dtype: int64

In [55]:
def runs_sored(batsman_name):
    vk=df[df['batsman']==batsman_name]
    return vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head(1)

In [56]:
runs_sored('DA Warner')

bowling_team
Kolkata Knight Riders    677
Name: batsman_runs, dtype: int64

In [57]:
# isin()
# find the most destructive death over batsman in the history of IPL
# strike Rate=(NUmber of runs/Number of balls)/100
# min batsman 200 balls in over 16-20

In [58]:
df.groupby('batsman')['batsman_runs'].count()

batsman
A Ashish Reddy     196
A Chandila           7
A Chopra            75
A Choudhary         20
A Flintoff          57
                  ...
YV Takawale        183
Yashpal Singh       67
Younis Khan          7
Yuvraj Singh      2050
Z Khan             141
Name: batsman_runs, Length: 461, dtype: int64

In [64]:
death_over=df[df['over']>15]
all_batsman=death_over.groupby('batsman')['batsman_runs'].count()
x=all_batsman>200
all_batsman[x].shape
all_batsman[x].index

(43,)

In [68]:
batsman_list=all_batsman[x].index.tolist()

In [72]:
# Runs scored by all these 43 batsman
# ball played by these 43 batsman

final=df[df['batsman'].isin(batsman_list)]

In [77]:
runs=final.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False)

In [78]:
runs

batsman
SK Raina            4548
V Kohli             4423
RG Sharma           4207
DA Warner           4014
RV Uthappa          3778
S Dhawan            3561
MS Dhoni            3560
AB de Villiers      3486
AM Rahane           3057
YK Pathan           2922
KD Karthik          2903
Yuvraj Singh        2591
JH Kallis           2427
AT Rayudu           2416
KA Pollard          2354
MK Pandey           2223
JP Duminy           1993
DPMD Jayawardene    1808
RA Jadeja           1732
SPD Smith           1713
MK Tiwary           1648
DA Miller           1563
WP Saha             1557
NV Ojha             1553
S Badrinath         1441
BJ Hodge            1400
DJ Hussey           1322
SS Tiwary           1276
DJ Bravo            1262
IK Pathan           1150
LRPL Taylor         1017
Y Venugopal Rao      985
JA Morkel            975
KM Jadhav            893
Harbhajan Singh      799
STR Binny            766
AD Mathews           724
AR Patel             606
JP Faulkner          527
PP Chawla            515
P Kumar              340
A Mishra             340
R Vinay Kumar        304
Name: batsman_runs, dtype: int64

In [83]:
balls=final.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False)

In [84]:
balls

batsman
V Kohli             3494
SK Raina            3369
RG Sharma           3274
S Dhawan            3005
RV Uthappa          2960
DA Warner           2902
MS Dhoni            2680
AM Rahane           2602
AB de Villiers      2402
KD Karthik          2360
JH Kallis           2291
YK Pathan           2076
Yuvraj Singh        2050
AT Rayudu           1964
MK Pandey           1901
KA Pollard          1674
JP Duminy           1634
DPMD Jayawardene    1522
RA Jadeja           1458
MK Tiwary           1444
NV Ojha             1356
SPD Smith           1333
S Badrinath         1245
WP Saha             1219
BJ Hodge            1153
DA Miller           1135
SS Tiwary           1111
DJ Hussey           1101
DJ Bravo            1032
IK Pathan            985
Y Venugopal Rao      865
LRPL Taylor          847
JA Morkel            712
KM Jadhav            684
STR Binny            619
AD Mathews           599
Harbhajan Singh      591
AR Patel             494
PP Chawla            467
JP Faulkner          406
A Mishra             382
P Kumar              323
R Vinay Kumar        285
Name: batsman_runs, dtype: int64

In [85]:
sr=(runs/balls)*100

In [87]:
sr.sort_values(ascending=False)

batsman
AB de Villiers      145.129059
YK Pathan           140.751445
KA Pollard          140.621266
DA Warner           138.318401
DA Miller           137.709251
JA Morkel           136.938202
Harbhajan Singh     135.194585
SK Raina            134.995548
MS Dhoni            132.835821
KM Jadhav           130.555556
JP Faulkner         129.802956
SPD Smith           128.507127
RG Sharma           128.497251
WP Saha             127.727646
RV Uthappa          127.635135
V Kohli             126.588437
Yuvraj Singh        126.390244
STR Binny           123.747981
AT Rayudu           123.014257
KD Karthik          123.008475
AR Patel            122.672065
DJ Bravo            122.286822
JP Duminy           121.970624
BJ Hodge            121.422376
AD Mathews          120.868114
DJ Hussey           120.072661
LRPL Taylor         120.070838
RA Jadeja           118.792867
DPMD Jayawardene    118.791064
S Dhawan            118.502496
AM Rahane           117.486549
MK Pandey           116.938453
IK Pathan           116.751269
S Badrinath         115.742972
SS Tiwary           114.851485
NV Ojha             114.528024
MK Tiwary           114.127424
Y Venugopal Rao     113.872832
PP Chawla           110.278373
R Vinay Kumar       106.666667
JH Kallis           105.936272
P Kumar             105.263158
A Mishra             89.005236
Name: batsman_runs, dtype: float64

In [ ]:
# Merge